@import '~/styles/_base.scss';

.layout {
  height: 100vh;
}

.header {
  background-color: #fff !important;

  @media (max-width: #{$md}) {
    padding: 0 2rem !important;
  }

  @media (max-width: #{$sm}) {
    padding: 0 1rem !important;
  }
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 1rem 5rem;
  max-height: calc(100vh - 64px);
  overflow-y: auto;

  @media (max-width: #{$md}) {
    padding: 1rem 2rem;
  }

  @media (max-width: #{$sm}) {
    padding: 1rem;

    h1 {
      padding-left: 3rem;
    }
  }
}
